html, body {
    height: 100%;
}

body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.welcome-card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    text-align: center;
}

/*--------------------------------------------------*/
