<!DOCTYPE html>
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/commons::nav}"></header>
<div class="home container-fluid bg-light py-5 text-center">
    <h1 class="display-4">Discover, Share, and Create Amazing Recipes!</h1>
    <p class="lead">Join our community of food lovers and explore thousands of delicious recipes.</p>
    <a href="#" class="btn btn-primary btn-lg">Get Started</a>
</div>
<main class="flex-shrink-0">
    <div class="container my-5">
        <h2 class="text-center mb-4">Explore Categories</h2>
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="card w-100 h-100">
                    <img src="/images/vegan.jpg" class="card-img-top img-fluid fixed-image" alt="Category Image">
                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title">Vegan</h5>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card w-100 h-100">
                    <img src="/images/desserts.jpg" class="card-img-top img-fluid fixed-image" alt="Category Image">
                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title">Desserts</h5>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card w-100 h-100">
                    <img src="/images/main-course.jpg" class="card-img-top img-fluid fixed-image" alt="Category Image">
                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title">Main Course</h5>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="text-center mb-4">Featured Recipes</h2>
        <div class="row">
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pb-2">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name</h5>
                        <p class="card-text">Quick description of the recipe.</p>
                        <a href="#" class="btn btn-outline-primary view-recipe-btn mt-3">View Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
