<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaRecipe</title>
    <link href="/css/reset-css.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">InstaRecipe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
                <li class="nav-item"><a class="btn btn-primary" href="/login">Login</a></li>
                <li class="nav-item"><a class="btn btn-secondary ms-2" href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<main class="flex-shrink-0">
    <div class="hero">
        <h1>Welcome to InstaRecipe</h1>
        <p>Discover, share, and connect with food lovers around the world.</p>
        <a href="/register" class="btn btn-primary btn-lg mr-2">Get Started</a>
        <a href="/login" class="btn btn-secondary btn-lg">Login</a>
    </div>

    <div class="container my-5">
        <div class="row text-center">
            <div class="col-md-4 d-flex">
                <div class="card feature-card p-3 w-100">
                    <img src="/images/dish.png" class="card-img-top img-fluid align-self-center"
                         style="max-width: 50px;"
                         alt="Discover Recipes">
                    <div class="card-body">
                        <h5 class="card-title">Discover Recipes</h5>
                        <p class="card-text">Explore a vast collection of recipes from around the world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card feature-card p-3 w-100">
                    <img src="/images/food.png" class="card-img-top img-fluid align-self-center"
                         style="max-width: 50px;"
                         alt="Share Recipes">
                    <div class="card-body">
                        <h5 class="card-title">Share Your Creations</h5>
                        <p class="card-text">Upload your favorite recipes and inspire others.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card feature-card p-3 w-100">
                    <img src="/images/burger.png" class="card-img-top img-fluid align-self-center"
                         style="max-width: 50px;" alt="Connect">
                    <div class="card-body">
                        <h5 class="card-title">Connect with Food Lovers</h5>
                        <p class="card-text">Interact with other food enthusiasts through comments and likes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="footer mt-auto bg-dark text-white text-center py-3">
    <p>&copy; 2024 InstaRecipe. All Rights Reserved.</p>
</footer>
</body>
</html>
